body {
    background-image: url(https://i.imgur.com/BAcflOZ.png); 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;;
    
    
    
}

*{
    margin: 0;
    padding: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h1 {
    text-align: center;
    text-transform: uppercase;
    font-weight: normal;
    margin-bottom: 30px;
    font-size: 50px;
    font-family: 'Indie Flower',cursive;
    color: rgb(153, 255, 127);
}
button {
    color: green;
    font-family: 'Indie Flower',cursive;
    text-align: center;
    font-size: 15px;
    margin: auto;
    display: flex;
    height: 25px;
    width: 100px;
    margin-bottom: 50px;
    

}
img {
    display: flex;
    margin: auto;
    border-radius: 50px;

}





